.main-box {
  padding: 2rem 2rem 1rem 2rem;
}
.btn-about {
  margin-top: 2rem;
}
.main-box p {
  font-weight: 300;
}
.sly {
  display: none;
  border: hsl(0, 0%, 75%) solid 1px;
  color: black;
  height: auto;
  padding: 10px;
  line-height: 25px;
  border-left: 1px solid #262162;
  border-right: 1px solid #262162;
  border-bottom: 1px solid #262162;
  text-align: justify;
}

.text-about-us {
  margin-top: 20px;
}
.title-about {
  color: #262162;
  font-weight: bold;
  font-size: 25px;
}
/* .title-about::after {
  display: block;
  content: '';
  width: 120px;
  height: 3px;
  background-color: #bf1e2d;
} */
.contin-about {
  color: #bf1e2d;
  cursor: pointer;
}
.btn-about {
  /* margin-top: 10px;
  border: 1px solid #bf1e2d;
  padding: 0.5rem;
  color: white;
  background-color: #262162; */
  background-color: #262162;
  padding: 7px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
}
.btn-about:hover {
  background-color: #bf1e2d;
}
.btn-show {
  display: block;
  padding: 1.1rem;
  margin-top: 10px;
}
.btn-show:first-child {
  margin-top: inherit;
}
.home-demo h2 {
  color: #fff;
  text-align: center;
  padding: 5rem 0;
  margin: 0;
  font-style: italic;
  font-weight: 300;
}
.el {
  width: 100%;
  display: flex;
  font-size: 19px;
  align-items: center;
  color: #fff;

  background-color: #262162;
}
.el::before {
  float: left;
  background-image: url(../img/icons/arrowright.png);
  background-repeat: no-repeat;
  display: inline-block;
  content: '';
  background-size: 100%;
  margin-right: 0.7rem;
  width: 1.4rem;
  height: 1.4rem;
}

.red::before {
  float: left;
  background-image: url(../img/icons/arrowdown.png);
  background-repeat: no-repeat;
  display: inline-block;
  content: '';
  background-size: 100%;
  margin-right: 0.7rem;
  width: 1.4rem;
  height: 1.4rem;
}

@media screen and (min-width: 768px) {
  .main-box {
    padding: 4rem;
    display: flex;
    justify-content: space-between;
  }
  .main-box p {
    font-weight: 600;
  }
  .el {
    width: 87%;
    margin: 0 auto;
    margin-top: 10px;
  }
}

.home-demo .item:hover {
  -webkit-filter: brightness(100%);
}
.home-demo .item {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  height: 100px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.info-about-us {
  margin-top: 1.6rem;
}

.item-carousel-1 {
  background-image: url(../img/providers/BIMOL.png);
}
.item-carousel-2 {
  background-image: url(../img/providers/VP.png);
}
.item-carousel-3 {
  background-image: url(../img/providers/VR.png);
}
.item-carousel-4 {
  background-image: url(../img/providers/VR2.png);
}
.item-carousel-5 {
  background-image: url(../img/providers/Eco.png);
}
.item-carousel-6 {
  background-image: url(../img/providers/Zlagoda.png);
}
.item-carousel-7 {
  background-image: url(../img/providers/МВ.png);
}
.item-carousel-8 {
  background-image: url(../img/providers/МК.png);
}
.item-carousel-9 {
  background-image: url(../img/providers/MO.png);
}
.item-carousel-10 {
  background-image: url(../img/providers/pagro.png);
}
.item-carousel-11 {
  background-image: url(../img/providers/HMEL.png);
}
.item-carousel-12 {
  background-image: url(../img/providers/Yatran.png);
}
.item-carousel-13 {
  background-image: url(../img/providers/Mlekovita.png);
}
.item-carousel-14 {
  background-image: url(../img/providers/Lactima.png);
}
.title-partners {
  text-align: center;
}
/* .about-us h3::after {
  width: 113px;
} */
/* .title-partners::after {
  display: block;
  content: '';
  width: 215px;
  height: 3px;
  margin: 0 auto;
  background-color: #bf1e2d;
} */
/* .footer-info-menu h3::after {
  width: 208px;
} */
@media screen and (min-width: 550px) {
  .home-demo .item {
    height: 150px;
  }
}
@media screen and (min-width: 880px) {
  .home-demo .item {
    height: 200px;
  }
}
@media screen and (min-width: 992px) {
  .home-demo .item {
    height: 250px;
  }
  .title-about {
    font-size: 2rem;
  }
  /* .title-about::after {
    width: 137px;
  }
  .title-partners::after {
    width: 255px;
  } */
  .text-about-us {
    line-height: 30px;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .home-demo .item {
    background-size: 75%;
  }
  .title-about {
    font-size: 2.5rem;
  }
  /* .title-about::after {
    width: 170px;
  }
  .title-partners::after {
    width: 335px;
  } */
  .btn-about {
    padding: 13px;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1600px) {
  .home-demo .item {
    background-size: 65%;
  }
}
@media screen and (min-width: 768px) {
  .sly {
    font-size: 1.2rem;
    width: 87%;
    margin: 0 auto;
  }
}
