.trade-box {
  padding: 6rem 2rem 0rem;
}
.info-trade {
  margin: 0 auto;
  margin-top: 2rem;
}
.trade-box h3 {
  text-align: center;
}
/* .trade-box h3::after {
  margin: 0 auto;
  width: 20rem;
} */
.btn-trade {
  padding-left: 20px;
  margin-top: 30px;
  background-repeat: no-repeat;
  background-image: url(../img/Colbasa.png);
}
.btn-trade p {
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bold;
}
.mol-krai {
  background-image: url(../img/sly/Milk2.png);
}
.jatran {
  background-image: url(../img/sly/Sir.png);
}
.zlagoda {
  background-image: url(../img/sly/Sir6.png);
}
.bimol {
  background-image: url(../img/sly/Milk4.png);
}
.volo-pole {
  background-image: url(../img/sly/Sir3.png);
}
.eko-product {
  background-image: url(../img/sly/Milk3.png);
}
.zdorovo {
  background-image: url(../img/sly/Sir4.png);
}
.import {
  background-image: url(../img/sly/Tvorojok.png);
}
.mol-vizit {
  background-image: url(../img/sly/Sir5.png);
}
.up-grade {
  background-image: url(../img/sly/Klubnike.png);
}
.poljana-smaku {
  background-image: url(../img/sly/Milk.png);
}
.slobojanu {
  background-image: url(../img/sly/Sir2.png);
}
.mala-rogan {
  background-image: url(../img/sly/Pizza.png);
}
.maslo-sir {
  background-image: url(../img/sly/Sir6.png);
}

@media (min-width: 1020px) {

  .trade-box {
    padding-top: 8rem;
  }
}
@media (min-width: 1080px) {
  .btn-trade p {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 20px;
    font-weight: bold;
  }

@media (min-width: 1300px) {
  .trade-box {
    padding: 8rem 15rem 0rem;
  }
}
@media (min-width: 1600px) {
  .trade-box {
    padding: 8rem 25rem 0rem;
  }
}
